# Core
pandas
numpy
scikit-learn
sqlalchemy
psycopg2-binary
python-dotenv
requests

# Geo
geopy
folium

# Utils
tqdm
plotly
redis

bcrypt
PyJWT

fastapi
uvicorn
psycopg2-binary
sqlalchemy
bcrypt
PyJWT
python-dotenv
